# MQTT
MQTT_HOST=localhost
MQTT_PORT=1883
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_CLIENT_ID=rpi-nave-01

# MongoDB directo opcional
ENABLE_DIRECT_MONGO=false
MONGODB_URI=mongodb://localhost:27017
MONGODB_DB=nave_db

# Sensores / hardware
COLOR_SENSOR_MODEL=tcs34725
DHT_MODEL=dht11
GAS_ACTIVE_HIGH=false

# Habilita o deshabilita partes si estas probando por fases
ENABLE_LCD=true
ENABLE_DHT=true
ENABLE_GAS=true
ENABLE_PROXIMITY=true
ENABLE_COLOR=true
ENABLE_TURRET=true
ENABLE_DOORS=true
ENABLE_RGB=true
ENABLE_STATUS_LEDS=true
ENABLE_BUTTONS=true
ENABLE_FANS=true
ENABLE_BUZZER=true
